# Make gitignore act in whitelist mode.
/*

# Root folders.
!/gradle
!/buildSrc
!/src
!/.github

# Root files.
!/.editorconfig
!/.gitattributes
!/.gitignore
!/build.gradle.kts
!/checkstyle.xml
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/MAINTAINERS
!/settings.gradle.kts

# Documentation files.
!/**/*.md
